*.swp
*.pyc
.*
*.ipynb
*~
/siddharth/WAV/
/siddharth/combhtk/
/siddharth/feats/
/siddharth/lists/
/siddharth/overlap/
/siddharth/overlap_train/
/siddharth/rVAD1.0/
/siddharth/train/
/siddharth/vad_overlap/

